@charset "UTF-8";


/* ------------------------------ FRANCINE - SESSÃO DE CADASTRO --------------------------------- */

/* ------------- STYLE PARA TELAS COM NO MÍNIMO 1201PX ---------------- */
@media screen and (min-device-width: 1201px) {
    /* Configuração da página em duas colunas */
    #abrir-conta {
        margin: 75px;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 90px;
        align-items: center;
    }

    /* Subtítulo */
    .conteudo-cadastro-subtitulo {
        font-size: 32px;
        line-height: 48px;
        margin-bottom: 45px;
    }

    /* Imagem do cartão de crédito */
    .conteudo-cadastro-imagem {
        width: 80%;
    }

    /* Configuração do label e do input do formulário */
    .conteudo-cadastro-input, .conteudo-cadastro-label {
        font-size: 20px;
        margin-bottom: 12px;
        display: block;
        border: none;
    }

    /* Input do formulário */
    .conteudo-cadastro-input {
        padding: 10px 200px 10px 0;
        background-color: #F5F5F5;
        border-bottom: 1px solid black;
    }

    /* Botão do formulário */
    .input-button {
        font-size: 20px;
        background-color: rgb(255, 143, 78);
        padding: 12px 15px;
        margin-top: 10px;
        border-radius: 45px;
        border: none;
        cursor: pointer;
    }

    .input-button:hover {
        background-color: rgba(255, 143, 78, 0.795);    
    }
}




/* ------------ STYLE PARA TELAS COM TAMANHO ENTRE 801PX E 1200PX -------------- */
@media screen and (min-device-width: 801px) and (max-device-width: 1200px) {
    /* Configuração da página em duas colunas */
    #abrir-conta {
        margin: 45px;
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 50px;
        align-items: center;
    }

    /* Subtítulo */
    .conteudo-cadastro-subtitulo {
        font-size: 26px;
        margin-bottom: 50px;
    }

    /* Imagem do cartão de crédito */
    .conteudo-cadastro-imagem {
        width: 85%;
    }

    /* Configuração do label e do input do formulário */
    .conteudo-cadastro-input, .conteudo-cadastro-label {
        font-size: 18px;
        margin-bottom: 10px;
        display: block;
        border: none;
    }

    /* Input do formulário */
    .conteudo-cadastro-input {
        padding: 9px 110px 9px 0;
        background-color: #F5F5F5;
        border-bottom: 1px solid black;
    }

    /* Botão do formulário */
    .input-button {
        font-size: 18px;
        background-color: rgb(255, 143, 78);
        padding: 13px;
        margin-top: 8px;
        border-radius: 45px;
        border: none;
        cursor: pointer;
    }

    .input-button:hover {
        background-color: rgba(255, 143, 78, 0.795);    
    }
}




/* -------------- STYLE PARA TELAS COM TAMANHO ENTRE 481PX E 800PX --------------- */
@media screen and (min-device-width: 481px) and (max-device-width: 800px) {
    /* Configuração da margem da página */
    #abrir-conta {
        margin: 80px;
    }

    /* Subtítulo */
    .conteudo-cadastro-subtitulo {
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
    }

    /* Imagem do cartão de crédito */
    .conteudo-cadastro-imagem {
        width: 70%;
        display: block;
        margin: 0 auto 35px auto;
    }

    /* Container pai do formulário */
    .conteudo-cadastro-section-formulario {
        position: relative;
        min-height: 60vh;
    }

    /* Formulário */
    .conteudo-cadastro-formulario {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    /* Configuração do label e do input do formulário */
    .conteudo-cadastro-input, .conteudo-cadastro-label {
        font-size: 16px;
        margin-bottom: 12px;
        display: block;
        border: none;
    }

    /* Input do formulário */
    .conteudo-cadastro-input {
        padding: 10px 250px 10px 0;
        background-color: #F5F5F5;
        border-bottom: 1px solid black;
    }

    /* Botão do formulário */
    .input-button {
        font-size: 16px;
        background-color: rgb(255, 143, 78);
        padding: 13px;
        margin-top: 10px;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }

    .input-button:hover {
        background-color: rgba(255, 143, 78, 0.795);    
    }
}




/* ---------------- STYLE PARA TELAS COM TAMANHO ENTRE 320PX E 480PX ----------------- */
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    /* Configuração da margem da página */
    #abrir-conta {
        margin: 50px;
    }

    /* Subtítulo */
    .conteudo-cadastro-subtitulo {
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
    }

    /* Imagem do cartão de crédito */
    .conteudo-cadastro-imagem {
        width: 80%;
        display: block;
        margin: 0 auto 35px auto;
    }

    /* Container pai do formulário */
    .conteudo-cadastro-section-formulario {
        position: relative;
        min-height: 50vh;
    }

    /* Formulário */
    .conteudo-cadastro-formulario {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }

    /* Configuração do label e do input do formulário */
    .conteudo-cadastro-input, .conteudo-cadastro-label {
        font-size: 16px;
        margin-bottom: 9px;
        display: block;
        border: none;
    }

    /* Input do formulário */
    .conteudo-cadastro-input {
        padding: 8px 130px 8px 0;
        background-color: #F5F5F5;
        border-bottom: 1px solid black;
    }

    /* Botão do formulário */
    .input-button {
        font-size: 15px;
        background-color: rgb(255, 143, 78);
        padding: 11px 13px;
        margin-top: 8px;
        border-radius: 40px;
        border: none;
        cursor: pointer;
    }

    .input-button:hover {
        background-color: rgba(255, 143, 78, 0.795);    
    }
}