@charset "UTF-8";

/* FONTE */
@font-face {
    font-family: 'roboto';
    src: url('font/Roboto-Regular.ttf') format('truetype'), url(font/Roboto-Bold.ttf) format('truetype'), url(font/Roboto-Light.ttf) format('truetype'), url(font/Roboto-Bold.ttf) format('truetype'), url(font/Roboto-Italic.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
  /* RESET */
* {
    margin: 0;
    padding: 0;
}

/* BODY */
body {
    background-color: #F5F5F5;
    font-family: 'roboto', 'Arial';
}

/* HEADER */
header {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 143, 78);
    position: sticky;
    top: 0;
    padding: 0em 2em;
}

.header-img {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.header-links {
    font-size: 1em;
    display: flex;
    flex-direction: row;
    padding-left: 6em;
    align-items: center;
    
}

.header-links-item {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 1em 1.4em;
}

.header-links-item:hover {
    background-color: #f5f5f53b;
    margin: 0 0.4em;
    padding: 0.8em 1em;
    border-radius: 1.5em;
}

/* MAIN */
.margem-superior {
    margin-top: 3em;
}

.margem-inferior {
    margin-bottom: 3em;
}

.conteudo-principal {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 4em;
    padding: 2em 6em;
}

.conteudo-principal-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteudo-principal-texto-direita {
    padding-right: 4em;
}

.conteudo-principal-subtitulo {
    font-size: 2em;
    color: rgb(255, 143, 78);
    margin-bottom: 0.5em;
}

.conteudo-principal-paragrafo {
    font-size: 1.4em;
    line-height: 1.4em;
    margin-bottom: 0.5em;
    text-indent: 1.9em;
    text-align: justify;
}

.ultima-section {
    background-image: url(img/partnership.png);
    padding: 11em 0;
    margin-bottom: 5em;
}

.ultima-section-subtitulo {
    font-size: 1.7em;
    text-align: center;
    background-color: #F5F5F5;
    padding: 0.6em 0;
    box-shadow: 0.25em 0.25em 0.2em rgba(0, 0, 0, 0.479);
}

.ultima-section-botao {
    padding: 0.9em 1.6em;
    border: rgb(255, 143, 78);
    border-radius: 2em;
    background-color: rgb(255, 143, 78);
    display: block;
    margin: 2em auto 0 auto;
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.438);
    cursor: pointer;
}

.ultima-section-botao:hover {
    background-color:  rgba(255, 143, 78, 0.856);
}

.ultima-section-botao-item {
    text-decoration: none;
    font-size: 2.2em;
    color: white;
}

/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(158, 156, 156);
    gap: 20em;
    padding: 2.5em 1.5em;
}

.footer-texto {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    justify-content: center;
}

.footer-redes-sociais {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    column-gap: 0.6em;
    cursor: pointer;
    align-items: center;
    margin-left: 11em;
}

.footer-redes-sociais > a {
    height: 3.4em;
    width: 3.4em;
}

.icone-instagram {
    background-image: url(img/instagram.png);
}

.icone-instagram:hover {
    background-image: url(img/instagram-hover.png);
}

.icone-facebook {
    background-image: url(img/facebook.png);
}

.icone-facebook:hover {
    background-image: url(img/facebook-hover.png);
}

.icone-twitter {
    background-image: url(img/twitter.png);
}

.icone-twitter:hover {
    background-image: url(img/twitter-hover.png);
}

.icone-linkedin {
    background-image: url(img/linkedin.png);
}

.icone-linkedin:hover {
    background-image: url(img/linkedin-hover.png);
}

footer > section > p {
    color: #F5F5F5;
    margin-bottom: 0.5em;
}
